* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./bg.jpg.jpg);

}

.container {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

}

h2 {
    color: #ffffff;
    font-size: 2em;
    text-transform: uppercase;
    padding: 20px 0;
}

.group {

    width: 320px;
    margin: 30px 0;
    position: relative;
    border-bottom: 2.5px solid #ffffff;
}

.group input {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;

    font-size: 1.2em;
    color: #ffffff;
    padding: 0 30px 0 10px;

}

.group label {

    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #ffffff;
    transition: 0.5s;
}

.group i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1.2em;

}

p {
    text-align: center;
    color: #ffffff;
    padding: 10px 0;

}

input:focus~label,
input:valid~label {
    top: -5px;
}

p>a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;

}

p>a:hover {
    text-decoration: underline;
    font-style: italic;
}

#btn {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
    transition: 0.5s;
}

#btn:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
}