*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
    user-select: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(140deg,rgb(60, 60, 60),rgb(45, 44, 44),rgb(22, 21, 21));
    width: 100vw;
    height: 100vh;
    gap: 50px;
    flex-direction: column;
}

h1{
    font-size: 50px;
    width: 100vw;
    margin-bottom: 30px;
    height:50px;
    text-align: center;
    color:rgb(215, 76, 12);
    text-shadow: 4px 6px 3px black;
}
.container{

    width: 402px;
    height: 402px;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    cursor: pointer;

}
 button{
    width: 100px;
    height: 50px;

    margin-top: 30px;
    background: transparent;
    color: rgb(215, 76, 12);
    border:none;
    font-size: 20px;
    border-radius: 18px;
    box-shadow: 0 0 5px rgb(199, 68, 7),0 0 15px rgb(215, 76, 12);
    transition:all ease 200ms;
    text-shadow: 2px 3px 1px black;
}
button:hover{
    transform: translate(-2px,-1px);
}
button:active{
    transform: scale(0.9);
}
.box{
    width: 134px;
    height: 134px;
    background: transparent;
    border-right: 4px solid rgb(215, 75, 13);
    border-bottom: 4px solid rgb(215, 75, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    color: rgb(255, 187, 0);
}
.box:nth-child(3n){

    border-right: none;
}
.box:nth-child(6)~.box{
    border-bottom: none;
}