*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    height: 100%;
}
footer{
    background: linear-gradient(45deg,#110f0f,#141e2c);  
    text-align: center; 
    color: #e4eaef;
    align-items: baseline;
    margin-top: auto;
}
body{
    background: linear-gradient(45deg,#110f0f,#141e2c);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#line{
   border: black;
}
.sec{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#110f0f,#141e2c);
}
.displaybox{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 17px;
    background: transparent;
    box-shadow: 0px 5px 20px rgb(113, 115, 119,0.6);

}
.name{

    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #414345;
   
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0px 5px 20px rgb(113, 115, 119,0.2);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: #ffffff;

}
.acp{
    color: rgb(144, 64, 64);
    transition: all 0.2s ease;
}
.acp:active{
    transform: scale(0.96);
    color: rgb(253, 5, 5);
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 20px;
    background: transparent;
    color: #ffffff;
    font-size: 17px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
    transition: all 0.2s ease;
  
}
button:active{
    transform: scale(0.96);
    color: rgb(67, 68, 66);
}
.eqbutton{
    background-color:#fb7c14;
}
.oprator{
    color: rgb(54, 204, 54);
    transition: all 0.2s ease;
}
.oprator:active{
    transform: scale(0.96);
    color: rgb(237, 250, 237);
}