*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(45deg,black,rgba(0, 0, 0, 0.708));
}
.container{
    position: relative;
}
.clock
{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.461);
    border: 12px solid rgb(0, 65, 77);
    box-shadow: 0px 0px 50px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 2em;
}
.brand{
    margin-top: 90px;
    color: black;
    font-size: 20px;
    z-index: -1;

}
.clock::before{
    content: '';
    position: absolute;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color:rgb(195, 3, 3);
    z-index: 1;
    
}
.hand{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hand i.hr{
    position: absolute;
    background-color:black;
    width: 7px;
    height: 100px;
    border-radius: 4px;
    z-index: 0;
}
.hand i.m{
    position: absolute;
    background-color:black;
    width: 7px;
    height: 120px;
    border-radius: 4px;
    z-index: 0;
}
.hand i.s{
    position: absolute;
    background-color:rgb(211, 1, 1);
    width: 4px;
    height: 117px;
    border-radius: 4px;
    z-index: 0;
}

