* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #133f96, #a816cc);
  padding: 10px;
}
.todoarea {
  width: 100%;
  max-width: 540px;
  background: #ffffffec;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
.todoarea h1 img {
  width: 30px;
  margin-left: 20px;
}
.todoarea h1 {
  color: #053e9a;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b2b9c4;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  color: black;
  font-size: 20px;
}
#btn {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: rgb(249, 59, 59);
  color: #ffffff;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 0px 0px 5px #ef2710;
}
#btn:active {
  transform: scale(0.9);
  background-color: red;
  color: black;
}
ul li {
  list-style: none;
  font-weight: 100px;
  font-size: 25px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  position: relative;
  cursor: pointer;
}
ul li::before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./images/uncheck.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li span img {
  width: 30px;
}
ul li.checked {
  color: #6c727a;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(./images/checked.jpg);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  width: 40px;
  color: #555;
  height: 40px;
  border-radius: 50%;
  transition: 0.2s;
}
ul li span:hover {
  background: #ceced6;
}
ul li span:active {
  transform: scale(0.9);
  background: #ababad;
}
